body{

font-family:Arial;
margin:0;
background:#f5f5f5;

}


header{

background:#2c1b12;
color:white;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;

}


nav a{

color:white;
margin:10px;
text-decoration:none;

}


.hero{

background:#d6c1a1;
padding:100px;
text-align:center;

}


.boton{

background:#5a3a1c;
color:white;
padding:15px 25px;
border:none;
border-radius:6px;
cursor:pointer;

}


.boton-payco{

background:#00aaff;
color:white;
padding:15px 25px;
border:none;
border-radius:6px;

}


.productos{

display:flex;
justify-content:center;
flex-wrap:wrap;
gap:30px;
padding:50px;

}


.producto{

background:white;
padding:20px;
width:230px;
border-radius:10px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,0.1);

}


.producto img{

width:100%;

}


.precio{

font-size:20px;
font-weight:bold;

}


.carrito-boton{

text-align:center;
padding:30px;

}


.checkout{

max-width:600px;
margin:auto;
padding:40px;

}


.whatsapp{

position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px;
border-radius:50px;
text-decoration:none;

}


footer{

background:#2c1b12;
color:white;
text-align:center;
padding:20px;

}