@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

:root{
   --color-principal:#590C72;
   --color-secundario:#D39AE8;
   --color-fondo:#d7afe5;
   --color-texto:#D39AE8;
   --color-fondo-text: #e7daeb;
   --color-texto-hueso: #EFEFB9;
}

body{
   margin:0;
   padding:0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 99%;
    padding: 0.4rem;
    background-color: var(--color-fondo);
}

header a{
    width: 90px;
}

p {
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
}
h1 {
    font-family: Anton, sans-serif;
    font-size:3rem;
    color: #310240;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-size:2.5rem;
    color: #310240;
}

h3 {
    font-family: Montserrat, sans-serif;
    font-size:1rem;
    color:var(--color-texto-hueso);
    font-weight:550;
}

.textoh3 {
    font-family: Montserrat, sans-serif;
    font-size:1.5rem;
    color:var(--color-principal);
    font-weight:550;
}

nav ul{
   display:flex;
   list-style:none;
   gap:25px;
   padding: 2px;
}

nav a{
   text-decoration:none;
   font-weight: bold;
   color:black;
   font-family: 'Quicksand', sans-serif;
}

button a{
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: #310240;
}

nav a:hover{
   color:brown;
}

.logoletra {
    width: 80px;
    max-width: 120px;
    height: auto;
}

.btn-tienda{
  background:#782494;
  color:white;
  padding:0.9rem 1.5rem;
  border: 1px solid var(--color-principal);
  border-radius:0.55rem;
  cursor:pointer;
}

.btn-tienda:hover {
    background-color: var(--color-principal);
}

.contenedorimg {
    display: flex;
    justify-content: center;
    max-width: 40%;
}

.img50 {
    max-width: 70%;
    height: auto;
    padding: 0;
    border-radius: 0.55rem;
}

.tiendaimg {
    width: 18rem;
}

.tiendaimg2 {
    width: 30%;
}

.tiendaimg3 {
    width: 100%;
}

.compra {
    width: 70%
}

.contenedor2c {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo-text);
    gap: 5%;
    padding: 4.5rem 10px 10px;
}

.contenedor3c {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-principal);
    gap: 5%;
    padding: 4.5rem 10px 10px;
}

.tiendah1 {
    text-align: center;
    background-color: var(--color-fondo-text);
    padding: 4.5rem 10px 10px;
    margin: 0;
}

.tiendaletra {
    font-family: Anton, sans-serif;
    color: #EFEFB9;
    font-size: 2rem;
}

.tiendaletra2 {
    font-family: Montserrat, sans-serif;
    color: #EFEFB9;
    font-size: 1rem;
}

.tiendaletra3 {
    font-family: Quicksand, sans-serif;
    color: #EFEFB9;
    font-size: 1rem;
    margin: 0;
}

.contenedor2c2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 5%;
    padding: 4.5rem 10px 10px;
}

.contenedor2ctext {
    padding: 3%;
    max-width: 55%;
    min-width: 50%;
}

.botones {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
    gap: 10px; /* espacio entre botones */
    width: 100%;
}

.resumen {
    text-align: center;
    margin-top: 10px;
}

.fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
}

.label {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 5px;
    color: var(--color-texto-hueso);
}

/* Valores pequeños (envío y producto) */
.valor.pequeno {
    font-size: 18px;
}

/* Total destacado */
.total {
    margin-top: 7px;
    margin-bottom: 5px;
    border-radius: 0.3rem;
    border: 1px solid #EFEFB9;
}

.label-total {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--color-texto-hueso);
}

.valor.grande {
    font-size: 28px;
    font-weight: bold;
}

/* valores normales (envío, producto) */
.valor {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-texto-hueso);
    margin-top: 0.5rem;
    text-align: center;
}

/* total más grande */
.valor-total {
    font-size: 1.5rem;
    font-weight: bold;
    color: #EFEFB9;
    margin: 1rem 0;
    text-align: center;
}

/* botones reales */
.boton {
    width: 100%;
    height: 2.5rem;
    font-family: Montserrat, sans-serif;
    background-color: var(--color-principal);
    border-radius: 0.3rem;
    color: #EFEFB9;
    border: 1px solid #EFEFB9;
    cursor: pointer;
}

/* opcional: hover bonito */
.boton:hover {
    background-color: #84599e;
}

.boton2 {
    height: 2.5rem;
    font-family: Montserrat,sans-serif;
    background-color: var(--color-principal);
    border-radius: 0.3rem;
    color:#EFEFB9;
    border-color: #EFEFB9;
}

.seleccionado {
    background-color: #EFEFB9;
    color: var(--color-principal);
}

.texto {
    text-align: center;
}

@media (max-width: 700px){
    header {
        background-color: var(--color-fondo);
    }

    nav ul{
        display:flex;
        list-style:none;
        gap:2px;
        padding: 2px;
        font-size: 10px;
    }

    .contenedorimg {
        width: 100%;
    }

    .img50 {
        width: 100%;
        padding: 0;
    }

    .tiendaimg2 {
        width: 100%;
        padding: 0;
    }

    .tiendaimg21 {
        width: 90%;
        padding: 0;
    }

    .contenedor2c {
        flex-direction: column;
        padding: 2rem 10px 10px;
    }

    .contenedor2c2 {
        flex-direction: column;
        padding: 10px 2rem;
    }

    .contenedor2c3 {
        display: flex;
        padding: 0;
    }

    .contenedor3c {
        flex-direction: column;
    }

    .tiendaimg {
        width: 11rem;
        padding-bottom: 2rem;
    }

    p {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    text-align: center;
    padding: 0 0 0 1rem;
    width: 100%;
    }
    h1 {
        font-family: Anton, sans-serif;
        font-size:1.5rem;
        color: #310240;
    }

    h2 {
        font-family: Montserrat, sans-serif;
        font-size:1.2rem;
        color: #310240;
    }

    .textoh3 {
        text-align: center;
    }
}