:root{
   --color-principal:#590C72;
   --color-secundario:#D39AE8;
   --color-fondo:#d7afe5;
   --color-texto:#D39AE8;
   --color-fondo-text: #e7daeb; 
}

body{
   margin:0;
   padding:0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: var(--color-fondo);
}

header a{
    width: 90px;
}

nav ul{
   display:flex;
   list-style:none;
   gap:25px;
   padding: 2px;
}

nav a{
   text-decoration:none;
   font-weight: bold;
   color:black;
}

button a{
    text-decoration: none;
    color: white;
}

nav a:hover{
   color:brown;
}

.logoletra {
    width: 80px;
    max-width: 120px;
    height: auto;
}

.btn-tienda{
  background:#782494;
  color:white;
  padding:12px 20px;
  border: 1px solid var(--color-principal);
  border-radius:8px;
  cursor:pointer;
}

.btn-tienda:hover {
    background-color: var(--color-principal);
}

.contenedorimg {
    display: flex;
    justify-content: center;
}

.img50 {
    width: 50%;
    height: auto;
    padding: 20px;
    border-radius: 8%;
}

.contenedor2c {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo-text);
    gap: 5%;
    padding: 10px;
}

.contenedor2ctext {
    padding: 5%;
}

@media (max-width: 400px){
    header {
        padding: 10px 0px;
        background-color: var(--color-fondo);
    }

    nav ul{
        display:flex;
        list-style:none;
        gap:2px;
        padding: 2px;
        font-size: 10px;
    }

    .img50 {
        width: 90%;
        padding: 0;
    }
}